$white: #ffffff;
$accent: #f0145a;
$regular: #323264;
$a-regular: #24a3ff;

$bg: #f5f5fA;
$grey-text: #b3b3ba;
$separator: #e6e6f0;

$hero-bg: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$splash-bg: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);